<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>my list to do</title>
</head>
<body>

    <h3 > My ToDo List</h3>
<h3 th:if="${#lists.isEmpty(todo)}">Will start now!</h3>

<table th:if="${not #lists.isEmpty(todo)}">

    <thead>
    <tr>
        <th>task</th>
        <th>id</th>
        <th>done</th>
    </tr>
    </thead>

    <tbody th:remove="all-but-first">

    <tr th:each="todo : ${todos}">
        <td th:text="${todo.task}">fotball</td>
        <td th:text="${todo.id}"> id</td>
        <td th:if="${todo.done}==true" >
            <form th:action ="@{/{id}/undone(id=${todo.id})}" method="post" >
                <button type="submit">Done</button>
            </form>
        </td>
        <td th:if="${todo.done}==false" >
            <form th:action ="@{/{id}/done(id=${todo.id})}" method="post" >
                <button type="submit">doit</button>
            </form>

        </td>
        <td>
            <form th:action="@{/{id}/moveElement(id=${todo.id})}" method="post">
                <button type="submit" class = "btn btn-danger">DELETE</button>
            </form>
        </td>

    </tr>

    <tr>
        <td>walk</td>
        <td>false</td>
    </tr>

    </tbody>
</table>


<form  th:action="@{/addToList}" method="post">
    Add New ToDo:
    <input type="text" name="todoo" id="todoo"/>
    <button type="submit"></button>
</form>

</body>
</html>